.accordion-item {
	background: getColour(body);
	border-bottom: 1px solid getColor(light-gray);
	border-top: none;
	border-left: none;
	border-right: none;

	h2 {
		background: $white;
	}
	.show {
		border-top: 2px solid $primary;
	}
	.fab {
		color: getColour(black);
		font-size: 1.5em;
	}
	.share-text {
		text-transform: uppercase;
		font-size: 1em;
	}
}

.accordion {
	box-shadow: 0px 12px 15px #00000015;
	margin-bottom: 100px;

	.accordion-body {
		width: 95%;
	}
}

.accordion-button::after {
	display: none;
}
