.carousel-indicators {
	margin-bottom: 10px;

	button {
		height: 20px !important;
		width: 20px !important;
		margin-right: 10px !important;
		opacity: 1 !important;
	}

	.active {
		background-color: $primary;
	}
}

.carousel {
	img {
		min-height: 150px;
	}
}
