.contact-form {
	background: getColour(body);
	padding: 30px 0;
	margin-bottom: 100px;
	box-shadow: $shadow;

	.btn {
		color: $white;
		margin-top: 30px;
	}
	.form-check-input {
		background: $primary;
		margin-top: 4px;
		border: none;
	}
}
.contact-info {
	color: getColour(dark-gray);
	margin: 50px 0 50px 10%;

	.fas {
		font-size: 1.8em;
	}
}
@media (min-width: 532px) {
	.form-check-label {
		margin-top: 8px;
	}
}
@media (min-width: 768px) {
	.wrapper {
		margin-left: 5%;
		margin-top: 50px;
		width: 90%;
	}

	.form-check-label {
		margin-top: 0px;
	}
	.contact-form {
		.btn {
			margin-top: 25px;
		}
	}
	.contact-info {
		margin-top: 60px;
	}
}
@media (min-width: 1280px) {
	.wrapper {
		margin-left: 10%;
		max-width: 1280px;
	}
}
