$primary: #e92569;

// Accordion
$accordion-button-active-bg: #fff;
$accordion-button-color: $primary;
$accordion-button-focus-box-shadow: none;

// Navbar
// $navbar-toggler-font-size: 1.5em;
$navbar-toggler-focus-width: none;

// Pagination/cards
$card-border-radius: 10px;

// Carousel

// Contact
$form-check-input-width: 1.8em;
