.card {
	border: none;
	a {
		color: $white;
	}
	img {
		border-radius: 10px 10px 0 0;
	}
}

.pagination {
	a {
		border-color: $primary !important;
	}
}
.btn {
	position: relative;
}
.btn::after {
	position: absolute;
	content: "";
	height: 100%;
	top: 0;
	left: 90%;
	bottom: 0;
	right: 0;
	background-color: green;
}
