$font-primary: 'Lato', sans-serif;
$font-headings: 'Playfair Display', serif;

$shadow: 0px 12px 15px #00000015;

@function getColour($colour) {
	@return map-get($colours, $colour);
}

$colours: (
	body:radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%),
	light-gray:#efefef,
	black:#000,
	dark-gray:#767676
);
