$font-primary: 'Lato', sans-serif;
$font-headings: 'Playfair Display', serif;

@function getColour($colour) {
	@return map-get($colours, $colour);
}

$colours: (
	body:radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%),
	border-color:#efefef,
	black:#000
);
